{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div>
    Employees of {{ company }}:<br>
    {% for i in employee_list %}
        <ul>{{ i.name }} {{ i.position.name }}</ul>
    {% endfor %}
</div>

<div>
    The answer to everything is: {{ answer | test_filter }}
</div>

<br>
<div>
    <a href="{% url 'foo'|add:'_test' %}">Test link</a>
</div>

<br>
<div>
    View count: {{ count }}
</div>

</body>
</html>